@@ -1,47 +0,0 @@
</html>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Staff</title>
</head>
<body>
    <div class="container" style="padding-top: 160px;">
        <form method="post" action="addUser">
        <div class="row">
            <div class="col-md-4 offset-md-4">
                <div class="card text-center card  bg-default mb-3">
                    <div class="card-header">
                        <h3>Enter User information</h3>
                    </div>
                    
                    <div class="card-body">
                        <input required="true" type="text" id="userLName" class="form-control input-sm chat-input" placeholder="Email" name="txtRAName"/>
                        </br>
                        <input required="true" type="password" id="userLPassword" class="form-control input-sm chat-input" placeholder="Password" name = "txtRAPass"/>
                        <br>
                        <select id="inputState" class="form-control" name="txtRole">
                            <option value="admin">Admin</option>
                            <option value="staff">Staff</option>
                        </select>
                    </div>
                    <div class="card-footer text-muted">
                        <input class="btn btn-primary" type="submit" value="Add user">                                          
                    </div>
                    
                </div>
            </div>
        </div>
        </form>
    </div>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</body>
</html>